/* Reset base */
body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333333;
}

/* ------------------ */
/* CABECERA (Header) */
/* ------------------ */
header {
    display: grid;
    grid-template-columns: auto 1fr auto; /* logo | nav | menu */
    align-items: center;
    padding: 0.8rem 1.5rem;
    background-color: #f57c00;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    height: 50px;
    margin-right: 1rem;
    border-radius: 8px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

header .logo h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    list-style: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.nav li a {
    text-decoration: none; /* Quitar subrayado */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

header .nav li a:hover {
    background-color: #ffffff33;
    color: #fff;
}

/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/

.menu {
    position: relative;
    left: 1rem;
    top: 35%;
    transform: translateY(-50%);
}
.menu, .cerrar-menu {
    display: none;
}

@media screen and (max-width: 688px) {
    .menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .menu, .cerrar-menu {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #f57c00;
        padding: 2rem;
        box-shadow: 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }

    nav ul {
        flex-direction: column;
        align-items: end;
    }
}